
body {
   min-width: 320px;
   margin: 0;
   padding: 0;
   font-style: normal;
   font-weight: normal;
   line-height: 20px;
   font-size: 14px;
   font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #000000;
   background-color: white;
}


.content {
   max-width: 768px;
   margin: auto;
   padding: 0 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   @media (max-width: 480px) {
      padding: 0;
   }
}


.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #C4C4C4;
   height: 90px;
   max-width: 768px;
   margin: 0 auto 10px auto;
   &__content{
      line-height: 20px;
      font-size: 24px;
   } 
}


.block-box {
	display: flex;
   justify-content: space-between;
   color: #FFFFFF;
   margin-bottom: 10px;
}   
.container-big-box {
   width: ~"calc(67% - 5px)";	
}   
.big-box {
   position: relative;
	width: 100%;
	padding-top: 100%;
   background-color: #A2A9B7;
   overflow: auto;
   &_text {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0; 
      padding-top: 30px;
      padding-bottom: 53px;
      padding-left: 25px;
      padding-right: 46px;
      line-height: 26px;
      font-size: 18px;
      @media (max-width: 480px) {
         padding-top: 20px;
         padding-left: 10px;
         padding-right: 20px;
         padding-bottom: 3px;
      }

   }
}
.container-small-box {
   width: ~"calc(33% - 5px)";
   position: relative;
}
.small-box {
   position: relative;
   width: 100%;
	padding-top: 100%;
   background-color: #A2A9B7;
   &_text {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 15px;
      @media (max-width: 480px) {
         padding: 10px;
      }
   }
}
.small-box-bottom {
   position: relative;
   margin-top: 10px;
	width: 100%;
	padding-top: 100%;
	background-color: #A2A9B7;
}



.wrap {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 10px;
   @media (max-width: 480px) {
      order: -1;
   }
}
.promot {
   width: ~"calc(67% - 5px)";
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   @media (max-width: 480px) {
      width: 100%;
   }
   &__elem {
      position: relative;
      width: 50%;
      padding-top: 30%;
      background-color: #E8EBED;
      &:first-child {
         width: ~"calc(50% - 5px)";
         @media (max-width: 480px) {
            padding-top: ~"calc(50% - 5px)";
            width: ~"calc(50% - 5px)"; 
         }
      }
      &:nth-child(2) {
         width: ~"calc(50% - 5px)";
         @media (max-width: 480px) {
            padding-top: ~"calc(50% - 5px)";
            width: ~"calc(50% - 5px)"; 
         }
      }
      &:last-child {
         width: 100%;
         margin-top: 10px;
         @media (max-width: 480px) {
            padding-top: ~"calc(50% - 5px)";
         }
      }
   }

}
.direction {
   width: ~"calc(33% - 5px)";
   @media (max-width: 480px) {
      width: 100%;
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
   }
   &__elem {
      position: relative;
      width: 100%;
      padding-top: 62%; 
      background-color: #A2A9B7;
      @media (max-width: 480px) {
         padding-top: ~"calc(50% - 5px)";
         width: ~"calc(50% - 5px)"; 
      }
      &:first-child {
         background: #90BCE8;
      }
      &:last-child {
         margin-top: 10px;
         background: #FEBF26;
         @media (max-width: 480px) {
            margin-top: 0; 
         }
      }
   }
}


.block-box_botttom {
   flex-direction: row-reverse;
   @media (max-width: 480px) {
      display: none;
   }
}
.big-box_botttom {
   background: #E3EBD3;
   color: #000000;
}
.big-box_text_botttom {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}
.small-box_top {
   background: #E3EBD3;
   color: #000000;
}
.small-box_botttom {
   background: url('C:/Users/user/Downloads/Test/newfile1/img/image.jpg') no-repeat center top / cover;
	position: relative;
}
.box-hover {
   margin-top: 10px;
   opacity: 0;
	position: absolute;
	z-index: 1;
   height: 49%;
   width: 100%;
   transition: opacity 0.5s;
   &:hover {
      opacity: 1;
      cursor: pointer;
   }
   &__filter {
      position: relative;
      width: 100%;
      height: 100%;
   }
   &__circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 61px;
		height: 61px;
		border-radius: 50%;
		background-color: #fff;
      line-height: 61px;
      font-size: 30px;
      color: #F55E62;
      text-align: center;
   }
}
.cell1 {
   display: flex;
   padding: 15px;
}
.cell3 {
   display: flex;
   padding: 15px;
}
.row_border { 
   flex-grow: 1;
   border-bottom: 1px dashed black;
}
.row_end {
   text-align: end; 
}
.row_text {
   display: flex;
   flex-direction: column;
   justify-content: flex-end; 
}


.wrap_bottom {
   @media (max-width: 480px) {
      flex-direction: column-reverse;
      order: 1; 
   }
}
.promot__elem_bottom {
   &:first-child {
      width: 100%;
      background: #FFAA87;
   }
   &:nth-child(2) {
      margin-top: 10px;
      background: #FFAA87;
   }
   &:last-child {
      width: ~"calc(50% - 5px)";
      background: #C7ABD4;
   }
}
.direction__elem_bottom {
   &:first-child {
      background: #FFAA87;
   }
   &:last-child {
      background: #F55E62;
   }
}


.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #C4C4C4;
   height: 90px;
   max-width: 768px;
   margin: 0 auto;
   &__content{
      line-height: 20px;
      font-size: 24px;
   }
}